<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store List</title>
</head>
<body>
    <h1>店舗一覧</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">検索</button>
    </form>
    <ul>
        {% for store in stores %}
            <li><a href="{% url 'myapp:store_detail' store.pk %}">{{ store.name }}</a></li>
        {% empty %}
            <li>条件に一致する店舗が見つかりませんでした。</li>
        {% endfor %}
    </ul>
</body>
</html>
