{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>店舗詳細</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ store.name }}</h1>
    <p>都道府県: {{ store.prefecture }}</p>
    <p>住所: {{ store.address }}</p>
    <p>ジャンル: {{ store.genre }}</p>
    <img src="{{ store.image.url }}" alt="{{ store.name }} Image">
</body>
</html>
